body {
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Lato";
	background: #101010;
	color: #DFDFDF; }

h1, h2, h3, h4, h5, h6 {
	font-family: "Unica One";
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300; }

a {
	color: #D9EA8C;
	text-decoration: none; }

a:hover {
	color: #BBD644;
	text-decoration: none; }

a:active {
	color: #BBD644;
	text-decoration: none; }

a:visited {
	color: #D9EA8C;
	text-decoration: none; }

code {
	background: #000000;
	color: #EAEAEA; 
	border-color: #535353; }

blockquote {
	font-family: "Space Mono";
	font-style: italic;
	color: #afafaf; }

.center {
	text-align: center; }

.sidebar-parent {
	overflow: hidden;
	margin: auto; }

.sidebar-btn {
    position: fixed;
    font-size: 1.5em;
	top: 50%;
	left: 2%; }

.sidebar {
	color: #303030;
	background: #DFDFDF;
	position: fixed;
	padding-top: 40px;
	width: 200px;
	top: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
	font-family: "Unica One";
	font-size: 1.5em;
	text-align: center; }

.sidebar-entry {
	padding: 5%;
	list-style: none;
	list-style-type: none; }

.sidebar-entry a {
	color: #303030;
	text-decoration: none; }

.sidebar-entry a:hover {
	color: #151515;
	text-decoration: none; }

.sidebar-entry a:active {
	color: #151515;
	text-decoration: none; }

.sidebar-entry a:visited {
	color: #303030;
	text-decoration: none; }

.close-btn-inbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    bottom: 0px;
    position: absolute;
    text-align: center;
    min-height: 50px;
    background-color: rgba(0, 0, 0, .3); }

/* mobile devices */
@media (min-width: 320px) {
	code {
		font-size: 0.6em; }
	blockquote {
		font-size: 0.9em; }
	.site-title {
		font-size: 2.5em;
		margin-top: 5%; }
	.site-desc {
		font-size: 0.9em;
		font-family: "Lato";
		text-transform: lowercase;
		margin-bottom: 5%; }
	.post-metadata {
		color: #888;
		font-size: 0.8em;
		font-weight: 100;
		font: "Unica One";
		text-transform: lowercase; }
	.post-content {
		color: #D7D7D7;
	}
	.page-content {
		color: #D7D7D7;
	}
	.footer {
		color: #555;
		font-size: 0.8em;
		font-weight: 100;
		font-family: "Unica One";
		margin-top: 5%;
		margin-bottom: 5%; }
}

/* phablets */
@media (min-width: 480px) {}

/* tablets */
@media (min-width: 760px) {
	code {
		font-size: 1em; }
	blockquote {
		font-size: 1.8em; }
	.site-title {
		font-size: 5.5em;
		margin-top: 5%; }
	.site-desc {
		font-size: 1.8em;
		font-family: "Lato";
		text-transform: lowercase;
		margin-bottom: 5%; }
	.post-metadata {
		color: #888;
		font-size: 1em;
		font-weight: 100;
		font: "Unica One";
		text-transform: lowercase; }
	.post-content {
		color: #D7D7D7;
	}
	.page-content {
		color: #D7D7D7;
	}
	.footer {
		color: #555;
		font-size: 1em;
		font-weight: 100;
		font-family: "Unica One";
		margin-top: 5%;
		margin-bottom: 5%; }
}

/* desktop */
@media (min-width: 1000px) {}

/* ultra-res */
@media (min-width: 1200px) {}


